* {
  margin: 0;
}

html,body {
  height: 100%;
}

body {
  background: url('../assets/background.jpg');
  background-repeat: repeat;
}

#map {
  width: 100%;
  height: 330px;
}

.social-icons {
  position: relative;
/*   text-align: center; */
}

#facebook {
  position: absolute;
  width: 151px;
  height: 135px;
  background: url('../assets/social-sprites.png') no-repeat 0 0;
  bottom: 0;
}

#facebook:hover { background-position: -155px 0px }

#twitter {
  position: absolute;
  width: 102px;
  height: 90px;
  background: url('../assets/twitter-hover.png') no-repeat 0 0;
  background-size: cover;
  bottom: 0;
/*   right 0; */
}

#logosocialrow {
  position: absolute;
  width: 140px;
  height: 122px;
  background: url('../assets/KLDPlogo.png') no-repeat;
  background-size: 100%;
  bottom: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

#push,
#footer {
  height: 40px;
}

#footer {
  background-color: #F1F3DF;
  line-height: 40px;
  text-align: center;
  font-size: .8em;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }