* {
  margin: 0;
}

html,body {
  height: 100%;
}

body {
  background: url('../assets/background.jpg');
  background-repeat: repeat;
/*   background-size: contain; */
}

#map {
  width: 100%;
  height: 420px;
}

#logosocialrow {
  height: 263px;
  width: 320px;
  background: url('../assets/KLDPlogo.png') no-repeat center center;
  background-size: 320px 263px;
}

#logosocialrow:hover {
  height: 263px;
  width:320px;
  background: url('../assets/slice2.png') no-repeat center center;
  background-size: 320px 263px;
}

#facebook {
  height: 100px;
  width: 112px;
  background: url('../assets/facebook-sprite.png') center top no-repeat;
  background-size: 112px auto;
}

#facebook:hover {
  background-position: center bottom;
  background-size: 112px auto;
}

#twitter {
  height: 100px;
  width: 112px;
  background: url('../assets/twitter-sprite.png') center top no-repeat;
  background-size: 112px auto;
}

#twitter:hover {
  background-position: center bottom;
  background-size: 112px auto;
}

#youtube {
  height: 100px;
  width: 112px;
  background: url('../assets/youtube-sprite.png') center top no-repeat;
  background-size: 112px auto;
}

#youtube:hover {
  background-position: center bottom;
  background-size: 112px auto;
}

#instagram {
  height: 100px;
  width: 112px;
  background: url('../assets/instagram-sprite.png') center top no-repeat;
  background-size: 112px auto;
}

#instagram:hover {
  background-position: center bottom;
  background-size: 112px auto;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

#push,
#footer {
  height: 40px;
}

#footer {
  background-color: #F1F3DF;
  line-height: 40px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #986B2E;
  font-size: 1.1em;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }